body {
  background-color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkgreen;
  font-size: 30px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}