body {
  padding: 15px;
  background-color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkgreen;
  font-size: 30px;
  text-align: center;
}


.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-size: large;
  box-sizing: border-box;
  display: flex;
}

.box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  width: 250px; 
}


ul{
  list-style-type: none;
}

.strikethrough:checked{
  text-decoration: line-through;
}


