body {
  padding: 15px;
  background-color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkgreen;
  font-size: 35px;
  text-align: center;
}


.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-size: large;
  box-sizing: border-box;
  display: flex;
}

.box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color:rgb(59, 147, 59);
  width: 350px; 
  color:black;
}


ul{
  list-style-type: none;
}

.myLine{
  text-decoration: line-through;
  text-decoration-color: blue;
}

.delete {
  background-color: #0099ff;
  font-size: 5px;
  padding: 8px;
  border-radius: 60%;
  color:black;
  float: right;
}



